{% extends "base.html" %}
{% block title %}
    Welcome
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/machine.css') }}" />
{% endblock %}
{% block javascript %}
    <script data-main="{{ url_for('static', filename='js/main') }}"
            src="{{url_for('static', filename='vendor/require.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div id="post"></div>
    </div>
{% endblock %}
